.header-container {
    padding: 20px;
    background-color: rgb(40,140,230);
    display: flex;
    justify-content: space-between;

    .page-list {
        display: flex;
        align-items: center;
        gap: 20px;
        list-style: none;

        .page {
            font-size: 24px;
            cursor: pointer;
            color: white;

            a {
                color: white;
                text-decoration: none;

            &.active {
                background-color: lightcoral;
            }
            }
        }
    }

    .login-option {
        display: flex;
        gap: 15px;

        button {
            padding: 10px 25px;
        }
    }


}