<div class="header-container">
    <ul class="page-list">
        <li class="page">
            <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">მთავარი გვერდი</a>
        </li>
        <li class="page">
            <a [routerLink]="['/about-us']" routerLinkActive="active">ჩვენს შესახებ</a>
        </li>
        <li class="page">
            <a [routerLink]="['/contact']" routerLinkActive="active">კონტაქტი</a>
        </li>
        <li class="page">
            <a [routerLink]="['/users']" routerLinkActive="active">მომხმარებლები</a>
        </li>
    </ul>
    <div class="login-option">
        <button (click)="loginBtn()">Login</button>
        <button (click)="logoutBtn()">logOut</button>
    </div>

</div>
