<div class="wrapper">
  <div class="car-wrapper">
    <div
      class="car-box"
      [ngStyle]="{ 'background-color': i === groupIndex ? 'lightblue' : '' }"
      *ngFor="let car of carsObject; let i = index"
    >
      <p (click)="chooseCar(i)">{{ car.id }}. {{ car.name }}</p>
    </div>
  </div>
  <app-car-details
    [infoToChild]="infoToChild"
    (carData)="showCarInfo($event)"
  ></app-car-details>
</div>
<span style="margin-top: 100px; display: block"
  >Selected Car Is a <strong>{{ selectedGroup?.name }}</strong
  >, model <strong>{{ selectedCar?.modelName }}</strong> and price is
  <strong>{{ selectedCar?.price }}$</strong>
</span>
