.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .model-row {
      display: flex;
      justify-content: space-between;
      padding: 6px;
      border-bottom: 1px solid #ccc;
      gap: 30px;
      cursor: pointer;

      &.highlight {
        background-color: lightcoral;
        color: white;
      }
    }
  }
  
  